.Section5Main {
  padding: 11.08vh 8.1944444vw;
}

.Section5CardsWrapper {
  display: flex;
  gap: 2em;
}

.Section5CardHeader {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  color: #363636;
}

.Section5CardText {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #717070;
}

.grid-container5 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .grid-card5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 20px;
  }
  
  .grid-card5 img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  .card-title5 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-description5 {
    font-size: 1.2rem;
  }