.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8.19vw;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #0f336f;
  position: fixed;
  top: 0;
  width: 90%;
  position: fixed;
  z-index: 1000;
}

.navbar2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8.19vw;
  color: #0f336f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 90%;
  position: fixed;
  z-index: 1000;
}
.navbar3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8.19vw;
  background-color: #0f336f;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #ffffff;
  position: fixed;
  top: 0;
  width: 90%;
  position: fixed;
  z-index: 1000;
}

.navbar-logo {
  flex: 1;
}

.navbar-logo2 {
  flex: 1;
}

.navbar-logo2 img {
  max-height: 50px;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbarItems {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
  margin-right: 2em;
}

.navbarItems3 {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.navbarItems2 {
  margin-right: 2em;
  cursor: pointer;
}

.navbarItems3 {
  margin-right: 2em;
  cursor: pointer;
  font-weight: 700;
}


.navbarItems5 {
  display: flex;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #0f336f;
  margin-right: 2em;
}
